################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net45
/.vs/ShardsOfAtheria
/obj
/.vs/SagesMania/DesignTimeBuild
/.vs/SagesMania/v16
