################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net45
/.vs/ShardsOfAtheria
/obj
/.vs/ShardsOfAtheria/DesignTimeBuild
/.vs/ShardsOfAtheria/v16
/.vs
/bin/Debug/net6.0
/ShardsOfAtheriaSprites.aseprite
/.csproj
/.sln
/.user
/.editorconfig
/ShardsOfAtheria.sln
/ChangelogBlock.txt